{%extends 'main/layout.html'%}

<body>
    

<main>
    {%block content%} 
    <div class="features">
<table id="databones" class="display" style="width:100%">
        <thead >
            <tr>
                <th>Название статьи</th>
                <th>Первый автор</th>
                <th>Год</th>
                <th> </th>
            </tr>
        </thead >
        <tbody>
            <tr>
            {% if table %}
                {% for el in table %}
                    <td>{{el.title}}</td>
                    <td>{{el.first_author}}</td>
                    <td>{{el.year_pub}}</td> 
                    <td><a href="{% url 'databones-detail' el.id %}" class="btn btn-warning">Details</a></td>  
            </tr>
                {% endfor %}
            {% else %}
                <p> Тут пока что ничего нет </p>
            {% endif %}
        </tbody>
        <tfoot>
            <th>Название статьи</th>
            <th>Первый автор</th>
            <th>Год</th>
            
        </tfoot>
    </table>
    
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<link href="https://cdn.datatables.net/v/ju/jszip-3.10.1/dt-2.0.3/af-2.7.0/b-3.0.1/b-colvis-3.0.1/b-html5-3.0.1/b-print-3.0.1/fh-4.0.1/rg-1.5.0/sc-2.4.1/sb-1.7.0/sp-2.3.0/sl-2.0.0/datatables.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/ju/jszip-3.10.1/dt-2.0.3/af-2.7.0/b-3.0.1/b-colvis-3.0.1/b-html5-3.0.1/b-print-3.0.1/fh-4.0.1/rg-1.5.0/sc-2.4.1/sb-1.7.0/sp-2.3.0/sl-2.0.0/datatables.min.js"></script>
<script>
    new DataTable('#databones',  {
        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    let column = this;
                    let title = column.footer().textContent;
    
                    // Create input element
                    let input = document.createElement('input');
                    input.placeholder = title;
                    column.footer().replaceChildren(input);
    
                    // Event listener for user input
                    input.addEventListener('keyup', () => {
                        if (column.search() !== this.value) {
                            column.search(input.value).draw();
                        }
                    });
                });
        },         
        paging:true,
        searching: true,             
        dom: 'B',
        buttons: {
            name : 'primary'
            [ 'copy', 'csv', 'excel', 'pdf' ]},
            layout: {
                topStart: 'buttons'},
    });
    </script>
    {% endblock %}
</main>
</body>





