
{%extends 'main/layout.html'%}
{%block title%}
    База данных
{% endblock %}
{%block content%}
    <div class="features">
        <h1>База Данных</h1>
        <table >
        <thead>
            <tr>
                <th>Название статьи</th>
                <th>Первый автор</th>
                <th>Год</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% if table %}
                {% for el in table %}
                    <td>{{el.title}}</td>
                    <td>{{el.first_author}}</td>
                    <td>{{el.year_pub}}</td> 
                    <td><a href="{% url 'databones-detail' el.id %}" class="btn btn-warning">Details</a></td>  
            </tr>
                {% endfor %}
            {% else %}
                <p> Тут пока что ничего нет </p>
            {% endif %}
        </tbody>
    </table>
{% endblock %}